@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color:#F3F5FC ;
}
main{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    height: 100vh;
    gap: 15%;
}
.respuesta_cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius:5% ;
    height: 80%;
    width: 25%;
    padding: 1%; 
}
.buscando_imagen{
    width: 80%;
    
}
h2{
    color: #343A40;
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    margin: 0%;
    text-align: center;
}
.texto_entrega{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.texto_p{
    color: #0A3871;
    font-size: 1.3vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0%;
    text-align: center;
}

.imput{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  background-color: #F3F5FC;
  border-radius:5% ;
  width: 45%;
  padding: 1%; 

}
#text-input {
    background-color: #F3F5FC;
    border: none;
    width: 100%;
    padding: 1%;
    font-size: 1.5vw;
    outline: none;
    resize: vertical; 
    box-sizing: border-box;
    min-height: 30vw; 
    overflow: auto; 
    white-space: pre-wrap; 
    line-height: 1.5; 
}

.texto_inferior{
    color: #495057;
    font-size: 1vw;
}
.boton_encriptar{
    color:white ;
    font-family: "Inter", sans-serif;
    background-color: #0A3871;
    border-radius: 32px;
    padding: 1.5vw;
    font-size:1.3vw ;
    width: 35%;
    border: none;
    font-weight: 400;
    cursor: pointer;

}
.boton_desencriptar{
    color:#0A3871 ;
    font-family: "Inter", sans-serif;
    background-color: #D8DFE8;
    border-radius: 32px;
    padding: 1.5vw;
    font-size:1.3vw ;
    width: 35%;
    border-color: #0A3871;
    border: 1px solid;
    font-weight: 400;
    cursor: pointer;

}

.botones{
    display: flex;
    justify-content: space-evenly;

}
.cuadro_inferior{
    display: flex;
    flex-direction: column;

}
.precaucion{
    display: flex;
}
.icono{
    padding-top: 1.5%;
    width: 1.7vw;
    height: 1.7vw;
}
.imagen_p{
    width: 5%;
}

.boton_encriptar:hover{
    background-color:#356EA9 ;

}
.boton_desencriptar:hover{
    background-color: #CED4DA;   
}
.boton_copiar:hover{
    background-color:#356EA9 ;

}
.boton_copiar{
    color:white ;
    font-family: "Inter", sans-serif;
    background-color: #0A3871;
    border-radius: 20px;
    height: 80%;
    width: 50%;
    font-size:1.3vw ;
    width: 35%;
    border-color: #0A3871;
    border: 1px solid;
    font-weight: 400;
    cursor: pointer;

}
.copiar{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;

}

@media (max-width: 1200px) {
    main{
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 100%;
        justify-content: flex-start;
        padding-left: 5%;
        gap: 5%;
    }
    .respuesta_cuadro{
        height: auto;
        width: 90%;
    }
    .imput{
        width: 90%;
        height: 30%;
        justify-content:space-between;
        gap: 10%;
    }
    .buscando_imagen{
        width: 0%;
    }
    .icono{
        padding-top:0.8%;
        width: 1.7vw;
        height: 1.7vw;
    }
    #text-input{
        min-height: 10vw;
    }
}